
.header{
    height: 90px;
    background: var(--gray-800);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    
}

.header img {
width: 4rem;
height: 4.25rem;

}

.header strong{
width: 11rem;
height: 2.563rem;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 25.5853px;
line-height: 160%;
color: rgb(247, 247, 247);
}